/* Pēc klases */
.labie {
    color:blue;

}
.kreisie {
    color: rgb(250, 6, 6);
}
.zem {
    color: rgb(15, 7, 134);
}
.name {
    color: darkred;
}
.full{
    
    display: grid;
    grid-template-columns: 20% 70%;

    

}

.left{
    background-color: rgb(142, 247, 255);
    
    
    

}

.right{
    background-color: rgb(255, 251, 190);
   


}

